<a href="https://colab.research.google.com/github/Lojainsaka/data-and-python/blob/main/Copy_of_05_Lists_and_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists and loops

Before you start this worksheet and if you haven't already done so:
*  read through the presentation on lists and loops [here](https://docs.google.com/presentation/d/e/2PACX-1vTg0q3OltgMwr3iwva73lGbErHyM_PS31NS4unSy63XbSvcFzORKfpxmwGxgjRTEcUiwRkWMLHvhhUs/pub?start=false&loop=false&delayms=3000)

*  watch the video on Lists [here](https://vimeo.com/991481470/9dfc58427a?share=copy)

*  watch the video on List functions and methods [here](https://vimeo.com/991514290/f36a924759?share=copy)

---
### Exercise 1 - manage list of categories

Write a function, **print_categories()** which will:
*  create the list **categories_list** and assign the following list ["well being", "local events", "community events", "families and parents", "jobs and volunteering" ]
*  print the length of the list `categories`
*  print the list

## Test
The expected output is:

```
5
["well being","local events","community events","families and parents", "jobs and volunteering"]
```

In [ ]:
def print_categories() :
  categories_list = ["well being", "local events", "community events", "families and parents", "jobs and volunteering" ]
  print(len(categories_list))
  print(categories_list)
print_categories()

5
['well being', 'local events', 'community events', 'families and parents', 'jobs and volunteering']

---
### Exercise 2 - change item in list

Write a function, **change_categories()** which will:
*  create the same list (**categories list**)
*  amend the **first item** in the list so it reads **well-being**
*  print the list

*Hint: each item in the list is identified by its position, starting from 0, so the first item in the list is at categories_list[0]*

**Expected Output**

```
['well-being','local events','community events','families and parents','jobs and volunteering']
```

In [ ]:
def change_categories() :
  categories_list = ["well being", "local events", "community events", "families and parents", "jobs and volunteering" ]
  categories_list[0]= "well-being"
  print (categories_list)
change_categories()

['well-being', 'local events', 'community events', 'families and parents', 'jobs and volunteering']

---
### Exercise 3 - add to list of categories

Write a function, **add_category()** which will:  
*  create the same `categories_list` again
*  create a new variable called new_category and assign the value "learning"
*  append the new category  (called **new_category**) to the list.   
_Hint: use `.append(new_category)`_
*  print the list of categories

## Test:

The expected output is that the original list is printed with the new category added to the end.

```
["well being","local events","community events","families and parents", "jobs and volunteering", "learning"]
```

---
### Exercise 4 - create list of locations

Write a function **show_locations()** which will:
*  create a new list **notice_locations** and add at least 6 locations to the list e.g. Dartford, Medway, Maidstone, Edinburgh, Glasgow, ...
*  print the length of the list
*  print the first and last items
*  print the first three items
*  print the last three items


## Test
An example of the list might be:

Edinburgh  
Glasgow  
Dartford  
Medway  
Maidstone  
Motherwell

In [ ]:
def show_locations() :
  notice_locations= ["Dartford", "Medway", "Maidstone", "Edinburgh", "Glasgow","Dundee" ]
  print(len(notice_locations))
  print(notice_locations[0])
  print(notice_locations[-1])
  print(notice_locations[0:3])
  print(notice_locations[-3:])
show_locations()

6
Dartford
Dundee
['Dartford', 'Medway', 'Maidstone']
['Edinburgh', 'Glasgow', 'Dundee']

---
### Exercise 5 - create list of user preferences

Write a function **user_locations()** which will:
*  create a new list **user_locations** and assign the list ["Dartford","Medway","Maidstone","Dover","Medway","Tunbridge Wells","Medway","Dover"]
*  create a variable called **medway_count** and assign the frequency of "Medway" in the `user_locations` list
*  create a variable called **dover_count** and assign the frequency of "Dover" in the `user_locations` list
*  create a variable called **dartford_count** and assign the frequency of "Dartford" in the `user_locations` list
*  create a variable called **top_locations** and assign a list of the three counts stored in the variable
*  print the `top_locations` list

## Test

The expected output is:

```
[3,2,1]
```

In [ ]:
def user_locations() :
  user_locations = ["Dartford","Medway","Maidstone","Dover","Medway","Tunbridge Wells","Medway","Dover"]
  medway_count = user_locations.count("Medway")
  dover_count = user_locations.count("Dover")
  dartford_count= user_locations.count("Dartford")
  top_locations = [medway_count, dover_count, dartford_count]
  print(top_locations)

user_locations()

[3, 2, 1]

---
### Exercise 6 - get the position of a named element in a list

Write a function **get_position()** which will:
*  create a new list **categories** with the following items: `['well being', 'local events', 'community events', 'families and parents', 'jobs and volunteering']`
*  create a new variable called position and assign it the position of the element `"community events"` in the list  
_Hint:  you can use `.index(category)`_
*  print the `position`


## Test:
Following the instructions above the expected output is:  
2  
*("community events" is third in the list and has the position 2)*

In [ ]:
def get_position() :
  categories = ['well being', 'local events', 'community events', 'families and parents', 'jobs and volunteering']
  position = categories.index("community events")
  print(position)
get_position()

2

---
# Iterating through a list with a `for` loop

Examples

**Print each item in the list on a new line**
```
for category in categories_list:
  print(category)
```
**Add 0.5 on to each sea_level (maybe as a universal adjustment), then print it**
```
for level in sea_levels:
   adjusted_level = level + 0.5
   print(adjusted_level)
```  

*Notice that the code below the `for` loop is indented.  All code that is indented to the same level is part of the loop and will run everytime round the loop.*

---
### Exercise 7 - print the sea_levels list using a loop

Write a function **show_sea_levels()** which will:
*  create a new list **sea_levels** with the following items: `[0.952755905, 1.173228345, 0.464566929, 0.66535433, 1.464566928, 1.393700786, 1.255905511, 1.03543307, 1.118110235, 1.181102361]`
*  use a for loop to print each number on a new line


## Test:
Following the instructions above the expected output is:  
```
0.952755905
1.173228345
0.464566929
0.66535433
1.464566928
1.393700786
1.255905511
1.03543307
1.118110235
1.181102361
```

In [ ]:
def show_sea_levels() :
  sea_levels = [0.952755905, 1.173228345, 0.464566929, 0.66535433, 1.464566928, 1.393700786, 1.255905511, 1.03543307, 1.118110235, 1.181102361]
  for level in sea_levels:
    print(level)
show_sea_levels()

0.952755905
1.173228345
0.464566929
0.66535433
1.464566928
1.393700786
1.255905511
1.03543307
1.118110235
1.181102361

---
### Exercise 8 - remove an item from a list

Write a function **remove_category()** which will:
*  create a new list **categories_list** with the following items: `["well being", "local events", "community events", "families and parents", "jobs and volunteering", "learning"]`
*  remove the 'community events' element from the list  
   *Hint: removing an item is like appending an item, e.g. `categories_list.remove("local events")`* )
*  print the list using a loop


## Test:
Following the instructions above the expected output is:  
```
well being
local events
families and parents
jobs and volunteering
learning
```

In [ ]:
def remove_category() :
  categories_list = ["well being", "local events", "community events", "families and parents", "jobs and volunteering", "learning"]
  categories_list.remove("community events")
  for category in categories_list:
    print(category)
remove_category()

well being
local events
families and parents
jobs and volunteering
learning

---
### Exercise 9 - print a list as a set of rounded numbers

Write a function **show_sea_levels_2dp()** which will:
*  create a new list **sea_levels** with the following items: `[0.952755905, 1.173228345, 0.464566929, 0.66535433, 1.464566928, 1.393700786, 1.255905511, 1.03543307, 1.118110235, 1.181102361]`
*  use a for loop to round each number to 2 decimal places, then print it

## Test:
Following the instructions above the expected output is:  
```
0.95
1.17
0.46
0.67
1.46
1.39
1.26
1.04
1.12
1.18
```

In [ ]:
def show_sea_levels_2dp() :
  sea_levels = [0.952755905, 1.173228345, 0.464566929, 0.66535433, 1.464566928, 1.393700786, 1.255905511, 1.03543307, 1.118110235, 1.181102361]
  for level in sea_levels:
    rounded_level = round(level, 2)
    print(rounded_level)
show_sea_levels_2dp()

0.95
1.17
0.46
0.67
1.46
1.39
1.26
1.04
1.12
1.18

--
### Exercise 10 - interrogate a list of integers

Write a function called **describe_num_list()** which will:  
*  create a variable called **num_list** and assign a list of whole numbers (you can choose how many, and which numbers to include in the list)
*  create a variable to hold the **length** of `num_list`
*  create a variable to hold the **sum** of the items in `num_list`  
*  print the **largest** number in `num_list`  
*  print the **smallest** number in `num_list`  
*  calculate the **average** of the numbers in `num_list` (you will already have the information you need to do this) and print it.

In [ ]:
def describe_num_list() :
  num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
  length = len(num_list)
  sum_list = sum(num_list)
  largest = max(num_list)
  smallest = min(num_list)
  average = sum_list / length
  print(largest)
  print(smallest)
  print(average)
describe_num_list()

10
1
5.5

---
# Takeaways

*  lists are data objects containing a set of data items, usually of the same type and stores them together
*  we can access any item in a list if we know its position (index) using list[index]
*  we can access parts of a list by using a start and end index [start:end]
*  there are functions that will get information about lists (len, max, min, sum, etc)
*  lists have built-in functions called methods that often allow them to make changes to themselves (e.g. .append, .remove, .sort, .index)
*  lists are easy to process with `for` loops, which can work through the list from start to end, operating on each item in turn.
*  to create a `for` loop, use `for item in listname:` and indent all the instructions that will be repeated below this line.

# Your thoughts on what you have learnt
Please add some comments in the box below to reflect on what you have learnt through completing this worksheet, and any problems you encountered while doing so.

beter understanding for loop and list